<div class="container">
  <h2> Public Profile </h2>
  <h3> <%= @user.username.capitalize %> </h3>

      <form action=<%= "/user/#{@user.id}/add" %> method='post'>
        <input type="hidden" name="_method" value="put" >
        <input style="float:right;" type="submit" value="Follow me!">
      </form>


</div>

<div class="container">
  <h2>These are the current tweets for <%= @user.username %></h2>
    <% @user.tweets.each do |tweet| %>

  <p><%= tweet.created_at %></p>
  <p><%= tweet.content %></p>
  <% end %>
</div>

<div class="container">
  <h2>Followers:</h2>
  <% @user.followers.each do |user| %>
      <h2> User: <a href=<%="/user/#{user.id}/profile"%>>
      <%= user.username %></a>
      </h2>
    <% end %>
</div>

