<div>
  <h1><%= %> </h1> <h4>edit<h4>

  <h3>Description</h3>
  <p><%= %></p>


  <h3>Price</h3>
  <p>$<%= %></p>

  <h3>Author</h3>
  <p>Name: <%= %></p>

  <h3>Contact Email</h3>
  <p>Email: <%= %></p>

</div>